<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/add-book">Add Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/books">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/show-requests">Show Requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/show-users">Show Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/issue-book">Issue Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/show-issued-books">Issued Books</a>
  </li>
</ul>